* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles starts */
.container {
  max-width: 1360px;
  margin: 0 auto;
}

.text-dark-1 {
  color: #627382;
  font-style: 16px;
}
.section-heading {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.section-py {
  padding: 60px 0;
  text-align: center;
}

.nav-btn {
  padding: 12.5px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #469165;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.nav-btn:hover {
  background-color: #3a7f57;
}
.primary-btn {
  padding: 16.5px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  background-color: #469165;
  cursor: pointer;
  border: 2px solid #ffffff00;
  transition: background-color 0.3s ease;
}
.primary-btn:hover {
  background-color: #3a7f57;
}
.secondary-btn {
  padding: 16.5px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.secondary-btn:hover {
  color: #469165;
  background-color: #ffffff;
}
/* shared styles ends */

/* header starts */
/* nav-bar starts */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.nav-logo {
  width: 140px;
}
.nav-items ul {
  display: flex;
  gap: 32px;
}
.nav-items ul a {
  color: #000000;
  transition: color 0.3s ease;
}
.nav-items ul a:hover {
  color: #469165;
}
.hero-btns {
  display: flex;
  gap: 15px;
  justify-content: center;
}
/* nav-bar ends */

/* hero starts */
#hero {
  padding: 125px 0;
  background: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-contents {
  text-align: center;
}
.hero-badge {
  display: flex;
  gap: 6px;
  color: #469165;
  margin: 0 auto 16px;
  background-color: white;
  border-radius: 50px;
  padding: 8px 12px;
  max-width: fit-content;
  font-weight: 500;
}
.hero-badge img {
  width: 16px;
}
.hero-title {
  color: white;
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.hero-title span {
  color: #30b868;
}
.hero-desc {
  margin-bottom: 32px;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 32px;
  color: #ffffff;
  line-height: 2;
  font-size: 18px;
}
/* hero ends */
/* header ends */

/* notes section starts */
.section-desc {
  margin-bottom: 44px;
}
.notes-card-container {
  display: flex;
  gap: 25px;
}
.notes-card {
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 25%;
}
.notes-card .card-icon {
  border-radius: 50px;
  background-color: #f95555;
  max-width: 60px;
  padding: 8px;
}
.card-title {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  color: #001931;
}
/* notes section ends */

/* brain section starts */
#brain {
  text-align: left;
}
.brain-container {
  display: flex;
  align-items: center;
}
.brain-img img {
  width: 600px;
}
.brain-contents {
  padding-left: 60px;
  max-width: 550px;
}
.brain-mini-title {
  color: #469165;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.brain-desc {
  margin-bottom: 40px;
}
.brain-list ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.brain-list ul li {
  color: #001931;
}
.brain-list ul li i {
  color: #30b868;
}
/* brain section ends */

/* early-access section starts */
.early-access {
  border-radius: 12px;
  background-color: #f7f6f2;
  padding: 80px 0;
}
.early-access-desk {
  max-width: 580px;
  margin: 0 auto 24px;
}
.early-access-contents button {
  margin-bottom: 16px;
}
/* early-access section ends */

/* footer starts */
footer {
  padding: 120px 0 30px 0;
  background-color: #001931;
}
.footer-contents .logo-and-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.footer-logo {
  max-width: 350px;
}
.social-links {
  max-width: 220px;
  width: 100%;
}
.social-links h3 {
  color: white;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
}
.social-icons {
  display: flex;
  gap: 16px;
}
.social-icons a {
  color: black;
}
.social-icons .icon {
  border-radius: 100%;
  background-color: white;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
hr {
  margin-bottom: 30px;
  color: #e5e7eb;
  opacity: 20%;
}
.copyright {
  color: #fafafa;
  text-align: center;
}
/* footer ends */
