* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles starts */
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.section-heading {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.para24 {
  color: #627382;
  line-height: 24px;
}
.para20 {
  color: #627382;
  line-height: 20px;
}
.color-white {
  color: #ffffff;
}
.primary-btn {
  padding: 16.5px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #469165;
  cursor: pointer;
}
.nav-btn {
  padding: 12.5px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #469165;
  cursor: pointer;
}
.secondary-btn {
  padding: 16.5px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}
/* shared styles ends */

/* header starts */

/* nav-bar starts */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.nav-logo {
  width: 140px;
}
.nav-items ul {
  display: flex;
  gap: 32px;
}
.nav-items ul a {
  color: #000000;
}
/* nav-bar ends */

/* header ends */
